.tribe-events-schedule h2 {
	font-size: 18px;
	margin: 0;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
	}
}

.tribe-events-schedule {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tribe-events-back a {
	font-family: $font-body;
	color: $green;
}

.tribe-events-meta-group {
	padding-top: 0;
}

.tribe-events-meta-group h2.tribe-events-single-section-title {
	font-family: $font-head;
	letter-spacing: 0;
	text-transform: none;
	color: $green;
	margin-top: 10px;
	font-size: 22px;
}

.tribe-events-event-meta dl dt {
	font-family: $font-body;
	font-size: 18px;
}

.tribe-events-event-meta dl dd {
	font-family: $font-body;
	font-size: 18px;
}

.tribe-events-calendar-list__event-title a {
	color: $green;
	font-family: $font-head;
}

.tribe-common .tribe-common-h5, .tribe-common .tribe-common-h6 {
	color: $green;
}

.tribe-common a:not(.tribe-common-anchor--unstyle), .tribe-common a:not(.tribe-common-anchor--unstyle):active, .tribe-common a:not(.tribe-common-anchor--unstyle):focus, .tribe-common a:not(.tribe-common-anchor--unstyle):hover, .tribe-common a:not(.tribe-common-anchor--unstyle):visited {
	color: $green;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4--min-medium {
	font-size: 29px;
	font-family: $font-head;
}

.tribe-events-calendar-list__event-datetime {
	color: $green;
}

.tribe-events-calendar-list__event-date-tag-weekday {
	font-family: $font-head;
}

.tribe-events .tribe-events-calendar-list__event-date-tag-weekday {
	font-family: $font-head;
	font-size: 15px;
}

.tribe-common .tribe-common-b2 {
	font-family: $font-body;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h6--min-medium,
.tribe-events-calendar-list__month-separator .tribe-events-calendar-list__month-separator-text {
	font-family: $font-head;
	color: $green;
	letter-spacing: 0;
	font-size: 20px;
}

.tribe-common--breakpoint-full.tribe-events .tribe-events-c-top-bar__datepicker-desktop {
	font-size: 20px;
	font-family: $font-head;
}

.tribe-events .tribe-events-calendar-list__event-featured-image {
	border-radius: 20px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
	padding-top: 0;
}

.post-type-archive-tribe_events .header-intro-block {
	padding-bottom: 25px;
}