body.logged-in .site-header {
	margin-top: 32px;
	@media screen and (max-width: 782px) {
		margin-top: 46px;
	}
}

body.nav-active {
	overflow: hidden;
	@media screen and (min-width: $med-small-width) {
		overflow: scroll;
	}
}

.site-header {
	width: 100%;
}

a.custom-logo-link {
	display: block;
}

.main-content-nav {
	position: relative;
	background: $bg-color-6;
	z-index: 999;
}

.site-header .custom-logo {
	max-width: 130px;
	min-width: 130px;
	width: 100%;
	height: auto;
	display: block;
	@media screen and (min-width: $small-width) {
		max-width: 270px;
		min-width: 270px;
	}
}
.fixed-buttons {
	display: none;
	@media screen and (min-width: $med-small-width) {
		display: block;
	}
}

.main-content-nav .fixed-buttons {
	display: block;
	@media screen and (min-width: $med-small-width) {
		display: none;
	}
}

.site-header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	animation: transitionDown 0.75s ease forwards;
}

.site-header .site-title {
	text-indent: -10000px;
	font-size: 0;
	line-height: 0;
}

.main-navigation .nav-menu > .menu-item.mega-menu > .sub-menu {
	overflow: hidden;
	display: none;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	@media screen and (min-width: $med-small-width) {
		padding-top: 48px;
		display: flex;
	}
}

.main-navigation .nav-menu > .menu-item.mega-menu > .sub-menu li {
	@media screen and (min-width: $med-small-width) {
		margin-bottom: 7px;
	}
}

.main-navigation .menu-item .sub-menu li.menu-item {
	@media screen and (min-width: $med-small-width) {
		margin-bottom: 20px;
	}

}

.main-navigation .sub-menu li.menu-item {
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 16px;
	position: relative;
	@media screen and (min-width: $med-small-width) {
		font-size: 19px;
		line-height: 24px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-left: 0;
		margin-right: 0;
	}
	@media screen and (min-width: $med-width + 1px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.main-navigation .sub-menu li.menu-item:last-of-type {
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.menu-icon {
	display: inline-block;
	position: absolute;
	top: -3px;
	left: 0;
	width: inherit;
	max-width: 25px;
}

.menu-icon img {
	display: inline-block;
	max-width: 25px;
	width: 100%;
	transform: translateY(5px);
}

.main-navigation .sub-menu li.menu-item a {
	font-style: normal;
	display: inline;
	@media screen and (min-width: $med-small-width) {
		display: block;
	}
}

.main-navigation .nav-menu > .menu-item.mega-menu > .sub-menu > .menu-item {
	width: 100%;
	@media screen and (min-width: $med-small-width) {
		width: 16.6667%;
		padding-right: 1.25rem;
		padding-left: 1.25rem;
		padding-bottom: 35px;
		margin-right: 0;
		margin-left: 0;
	}
}

.main-navigation .nav-menu > .menu-item.mega-menu > .sub-menu > .menu-item:last-of-type {
	width: 100%;
	@media screen and (min-width: $med-small-width) {
		width: 33.32%;
	}
}

.main-navigation ul ul ul {
	position: relative;
	background: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	float: none;
	padding-left: 0;
	padding-right: 0;
	min-width: auto;
	left: 0;
	@media screen and (min-width: $med-small-width) {
		left: 0;
	}
}

.menu-toggle {
	position: relative;
	z-index: 2;
	padding: 0;
	border: none;
	border-radius: 0;
	text-indent: -10000px;
	width: 25px;
	height: 25px;
	background: url(img/nav-open.svg) no-repeat center center / 100%;
	order: 2;
	margin-left: 7%;
	cursor: pointer;
	align-self: center;
	@media screen and (min-width: $med-small-width) {
		display: none;
	}
}

.menu-toggle[aria-expanded="true"] {
	background: url(img/nav-close.svg) no-repeat center center / 85%;
}

.menu-primary-button-menu-container .menu {
	display: block;
}

.site-header .site-description {
	text-indent: -10000px;
	font-size: 0;
	line-height: 0;
}

.main-navigation .menu-item.mega-menu {
	position: unset;
}

.main-navigation .sub-menu {
	padding-top: 0;
	padding-bottom: 0;
}

.main-navigation .menu-item.mega-menu .sub-menu {
	width: 100%;
	display: block;
	@media screen and (min-width: $med-small-width) {
		max-width: $max-cont-w + 200px;
	}
}

.site-header .wrapper {
	max-width: $max-cont-w + 200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	position: relative;
	@media screen and (min-width: $med-small-width) {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

.search-navigation .wrapper {
	padding-right: 0;
	padding-left: 0;
}

.main-navigation button.toggle-menu {
	background: transparent url(img/down-chevron.svg) no-repeat center center / 15px;
	width: 30px;
	height: 30px;
	border: none;
	display: block;
	text-indent: -10000px;
	margin-top: -3px;
	cursor: pointer;
	padding: 0 10px;
	@media screen and (min-width: $med-small-width) {
		display: none;
	}
}

.site-branding {
	display: flex;
	align-items: center;
}

.main-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	width: 100%;
}


.main-navigation.toggled .menu-primary-menu-container {
	display: block;
	width: 100%;
	left: 0;
	top: 80px;
	background: white;
	max-height: calc(100vh - 80px);
	padding-bottom: 80px;
	overflow: auto;
	box-shadow: 0 12px 10px -2px rgba(0, 0, 0, .15);
	@media screen and (min-width: $med-small-width) {
		display: flex;
		top: inherit;
		max-height: inherit;
		padding-bottom: 0;
		box-shadow: none;
	}
}

.menu-primary-menu-container {
	display: none;
	align-items: stretch;
	position: absolute;
	@media screen and (min-width: $med-small-width) {
		display: flex;
		position: inherit;
	}
}

.site-header .main-wrapper {
	height: 80px;
	display: flex;
	align-items: stretch;
	@media screen and (min-width: $small-width) {
		height: 90px;
	}
}


.main-navigation.toggled .menu-primary-menu-container,
.main-navigation.toggled .menu-logged-out-container,
.main-navigation.toggled .menu-logged-in-container,
.main-navigation.toggled .menu-all-pages-container {
	display: flex;
}


/*.menu-primary-menu-container,
.menu-logged-out-container,
.menu-logged-in-container,
.menu-all-pages-container {
	display: none;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	background: white;
	height: calc(100vh - 80px);
	top: 80px;
	left: 0;
	overflow: auto;
	flex: 1;
	width: 100%;
	padding-bottom: 80px;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		height: calc(100vh - 90px);
		top: 90px;
		overflow: visible;
		padding-bottom: 90px;
	}
	@media screen and (min-width: $med-small-width) {
		display: flex;
		top: inherit;
		left: inherit;
		align-items: flex-end;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		height: auto;
		overflow: visible;
		background: transparent;
		justify-content: flex-end;
	}
}*/

.main-navigation .menu-item a {
	display: inline;
}

li.menu-item.nav-button a {
	@extend .wp-block-button__link;
	display: block;
	color: white;
	padding: 16px 25px 11px;
	background: $bg-color-5;
	font-size: 18px;
	line-height: 18px;
	&:hover {
		background: $navy;
		color: $bg-color-5;
	}
	@media screen and (min-width: $med-small-width) {
		font-size: 17px;
		line-height: 17px;
	}
}

.main-navigation .sub-menu .sub-menu .menu-item a {
	font-family: $font-body;
	&:hover {
		color: $teal;
	}
}

.main-navigation ul.sub-menu-child {
	width: 100%;
	background: $light-grey;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
	@media screen and (min-width: $med-small-width) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.main-navigation ul.sub-menu-child li {
	width: 100%;
	@media screen and (min-width: $med-small-width) {
		width: 33%;
	}
}

.main-navigation ul.sub-menu-child li a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: $green;
	@media screen and (min-width:  $med-small-width) {
		font-size: 22px;
		letter-spacing: 0.1px;
		line-height: 26px;
	}
}
.main-navigation .menu-item a,
.main-navigation .menu-item {
	color: $teal;
	font-family: $font-head;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	font-weight: 400;
	text-transform: capitalize;
	@media screen and (min-width: $med-small-width) {
		text-align: left;
		color: $teal;
		font-weight: 400;
		font-size: 22px;
		letter-spacing: 0.1px;
		line-height: 26px;
	}
}

.main-navigation .menu-item {
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	@media screen and (min-width: $med-width + 1px) {
		margin-left: 1.8rem;
		margin-right: 1.8rem;
	}
}

.main-navigation .menu-item a:hover {
	color: $teal-blue;
}

.menu-primary-menu-container .menu-item,
.menu-all-pages-container .menu-item {
	margin-bottom: 1.25rem;
	@media screen and (min-width: $med-small-width) {
		margin-bottom: 0;
	}
}

.main-navigation .nav-menu > .menu-item.nav-button {
	@media screen and (min-width: $med-small-width) {
		padding-top: 22px;
		padding-bottom: 22px;
	}
}

.main-navigation .nav-menu > .menu-item:not(.mega-menu) {
	position: relative;
}

.main-navigation .nav-menu > .menu-item {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	padding-top: 6px;
	margin-bottom: 10px;
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-bottom: 0;
		width: auto;
		padding-top: 26px;
		padding-bottom: 26px;
		justify-content: center;
	}
	@media screen and (min-width: $med-width + 1px) {
		margin-bottom: 0;
		width: auto;
		padding-top: 26px;
		padding-bottom: 26px;
		justify-content: center;
	}
}

.main-navigation .menu-item:last-of-type {
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		margin-right: 0;
	}
	@media screen and (min-width: $med-width + 1px) {
		margin-right: 0;
	}
}

.main-navigation ul.nav-menu {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	flex-wrap:wrap;
	padding-bottom: 30px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	box-sizing: content-box;
	@media screen and (min-width:  $med-small-width) {
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.main-navigation .sub-menu li.menu-item a .menu-item {
	text-align: center;
	@media screen and (min-width:  $med-small-width) {
		text-align: left;
	}
}

.main-navigation .nav-menu > .menu-item > .sub-menu {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 30% 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
	@media screen and (min-width:  $med-small-width) {
		background: white;
		padding-top: 2rem;
		padding-bottom: 1.5rem;
		position: absolute;
		min-width: 250px;
	}
}

.main-navigation .nav-menu > .menu-item:not(.mega-menu):hover > .sub-menu {
	@media screen and (min-width:  $med-small-width) {
		display: block;
	}
}

.main-navigation .sub-menu li.menu-item a {
	margin-top: 10px;
	margin-bottom: 10px;
	@media screen and (min-width:  $med-small-width) {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		display: block;
	}
}

.main-navigation .nav-menu > .menu-item.active > .sub-menu {
	display: block;
	@media screen and (min-width:  $med-small-width) {
		display: flex;
	}
}

// .main-navigation li.menu-item-has-children.active .sub-menu {
// 	display: block;
// }

// .site-header.fixed .secondary-navigation {
// 	height: 0;
// }

.secondary-navigation p {
	margin: 0;
	color: white;
	font-size: 13px;
	font-family: $font-head;
	line-height: 18px;
	margin-left: 0;
	letter-spacing: 0.5px;
	@media screen and (min-width: $med-width + 1px) {
		font-size: 14px;
		line-height: 16px;
		margin-left: 1.375rem;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		font-size: 14px;
		line-height: 16px;
		margin-left: 1.375rem;
	}
}

.secondary-navigation p a {
	color: white;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	font-weight: 700;
	padding-right: 10px;
	padding-left: 10px;
	@media screen and (min-width:  $small-width) {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.secondary-navigation p a:after {
	content: "";
	width: 2px;
	height: 100%;
	background: $blue;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
}

.secondary-navigation p a:last-of-type:after {
	display: none;
}

.secondary-navigation p a:last-of-type {
	padding-right: 0;
	@media screen and (min-width:  $small-width) {
		padding-right: 0;
	}
}


.secondary-navigation p a:first-of-type {
	padding-left: 0;
	@media screen and (min-width:  $small-width) {
		padding-left: 0;
	}
}

.menu-item.light-orange-text > a {
	@extend .light-orange-text;
}

.menu-item.purple-text > a {
	@extend .purple-text;
}

.menu-item.orange-text > a {
	@extend .orange-text;
}

.menu-item.red-text > a {
	@extend .red-text;
}

.menu-item.teal-text > a {
	@extend .teal-text;
}

.menu-item.green-text > a {
	@extend .green-text;
}

.menu-item a {
	color: $bg-color-4;
	&:hover {
		color: $bg-color-5;
	}
	@media screen and (min-width:  $med-small-width) {
		color: $bg-color-4;
	}
}

.main-navigation .sub-menu .menu-item a {
	width: 100%;
	font-size: 20px;
	text-transform: none;
	line-height: 24px;
	position: relative;
	padding-left: 0;
	font-weight: 500;
	@media screen and (min-width:  $med-small-width) {
		font-size: 22px;
		letter-spacing: 0.5px;
		line-height: 26px;
		text-transform: none;
	}
}

.main-navigation .sub-menu .sub-menu li {
	margin-bottom: 5px;
	@media screen and (min-width:  $med-small-width) {
		margin-bottom: 7px;
	}
}


.main-navigation .sub-menu .sub-menu {
	margin-top: 8px;
	@media screen and (min-width:  $med-small-width) {
		margin-top: 12px;
	}
}

.main-navigation .sub-menu .sub-menu .menu-item a {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	@media screen and (min-width:  $med-small-width) {
		font-size: 20px;
	}
}

.hand-wave:before {
	content: "";
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-right: 12px;
	transform: translateY(3px);
	background: url($hand) no-repeat center center / 100%;
}

.question:before {
	content: "";
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-right: 12px;
	transform: translateY(3px);
	background: url($question) no-repeat center center / 100%;
}

.secondary-navigation {
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: $bg-color-7;
	transition-duration: .3s;
	transition-property: height;
	@media screen and (min-width: $small-width) {
		height: 50px;
	}
}


.secondary-navigation .wrapper {
	justify-content: center;
	@media screen and (min-width: $small-width) {
		justify-content: flex-end;
	}
}

.menu-secondary-menu-container {
	width: auto;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.menu-secondary-menu-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu-secondary-menu-container .menu-item,
.menu-secondary-menu-container .menu-item a {
	text-transform: uppercase;
	color: #313133;
	text-decoration: none;
	font-family: $font-body;
	font-size: 13px;
	line-height: 18px;
	@media screen and (min-width: $med-width + 1px) {
		font-size: 16px;
		line-height: 20px;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		font-size: 14px;
		line-height: 18px;
	}
}

.main-navigation ul.nav-menu > li:hover > ul,
.main-navigation ul.nav-menu > li.focus > ul {
	@media screen and (min-width: $med-small-width) {
		left: 50%;
		transform: translateX(-50%);
		display: block;
	}
}

.main-navigation ul.nav-menu > li.mega-menu:hover > ul,
.main-navigation ul.nav-menu > li.mega-menu.focus > ul {
	@media screen and (min-width: $med-small-width) {
		left: 0;
		transform: none;
	}
}

.search-navigation {
	position: relative;
}

.search-toggle {
	width: 25px;
	height: 25px;
	padding: 0 !important;
	border: none;
	text-indent: -100000px;
	margin-left: 8px;
	background: url(img/search.svg) no-repeat center center / 25px;
}

.search-active .search-toggle {
	background: url(img/search-close.svg) no-repeat center center / 25px;
}

.results .content {
	margin-bottom: 0;
}

.search-toggle:active,
.search-toggle:hover,
.search-toggle:focus {
	background-color: transparent;
}

/*.search-active .search-navigation .wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
*/
.search-navigation .wrapper {
	display: flex;
}

.search-active .ast-builder-menu {
	opacity: 0;
}

.site-header .search-navigation {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
    @media screen and (min-width: $med-small-width) {
    	padding-top: 20px;
   		padding-bottom: 20px;
    	padding-left: 20px;
    }
}

.site-header .search-form {
	display: none;
}

.main-wrapper.search-active nav.main-navigation {
	display: none;
}

.main-wrapper.search-active .search-form {
	display: block;
	min-width: 150px;
	@media screen and (min-width: $med-small-width) {
		min-width: 500px;
	}
}

.site-header .search-form {
	position: relative;
}

button.clear {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	height: 100%;
	background: none;
	color: #888888;
	padding-left: 15px;
	padding-right: 15px;
}

.site-header .search-form .search-field {
	width: 100%;
	max-width: 200px;
	min-width: 150px;
	@media screen and (min-width: $med-small-width) {
		max-width: 100%;
	}
}

.search-form .search-field {
	transition: none;
	background: white url(img/search.svg) no-repeat calc(100% - 15px) center / 20px;
	padding: 10px 10px;
	font-size: 18px;
	border: 1px solid $green;
	border-radius: 0;
	min-width: 250px;
	@media screen and (min-width: $med-small-width) {
		padding: 15px 20px;
		font-size: 20px;
		min-width: 400px;
	}
}

.site-header .search-form .search-field:focus-visible {
	background: white;
}

.site-header .search-form .search-field.active-search {
	background: white;
}

.site-header .search-form input[type="submit"] {
	position: absolute;
	left: -100000px;
}

.results-container {
	position: relative;
	width: 100%;
}

.results-container .results {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	max-height: 400px;
	overflow-y: auto;
	z-index: 99;
	border-left: solid #F3F5F7;
	border-right: solid #F3F5F7;
	border-bottom: solid #F3F5F7;
	box-shadow: 0 12px 10px -2px rgba(0, 0, 0, .15);
}

.result.error {
	padding: 5px 10px;
}

.result a {
	display: flex;
	align-items: center;
	text-decoration: none !important;
	padding: 5px 10px;
	border-bottom: 1px solid #F3F5F7;
}

.result a:focus,
.result a:hover {
	background: #F3F5F7;
}

.result h3 {
	font-size: 18px;
	margin-bottom: 0;
	text-decoration: none;
}


