.wp-block.text-cards-grid {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.text-cards-grid .cta .block-wrapper {
	display: flex;
	width: 100%;
}

.header-intro-block + .text-cards-grid {
	margin-top: 0;
	@media screen and (min-width: $small-width) {
		margin-top: 0;
	}
}

.text-cards-grid .header-intro-block {
	width: 100%;
}

.text-cards-grid {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2.25rem;
	padding-bottom: 2.25rem;		
	@media screen and (min-width: $small-width) {
		padding-bottom: 6.25rem;
		padding-top: 6.75rem;
		padding-bottom: 6.75rem;
	}
}

.with-bg-repeat {
	background-image: url(img/pinwheel-pattern.svg);
	background-repeat: repeat;
	background-size: 200px;
	@media screen and (min-width: $small-width) {
		background-size: 275px;
	}
}

.with-bg-pinwheel.text-cards-grid:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 10%;
	left: 75.5%;	
	width: 200px;
	height: 200px;
	background: url(img/pinwheel.svg) no-repeat center center / 100%;
	@media screen and (min-width: $small-width) {
		width: 530px;
		height: 530px;
	}
}

.text-cards-grid .cta .wp-block-buttons {
	align-self: flex-end;
	width: 100%;
}

.text-cards-grid > .block-wrapper {
	max-width: $max-cont-w + 200px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin: 0 auto;

}

.text-cards-grid .header-intro-block h2 {
	margin-bottom: 0;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.wp-block.text-cards-grid.columns-3 .section-header,
.text-cards-grid:not(.wp-block).columns-3 .section-header,
.text-cards-grid:not(.wp-block).columns-3 .header-intro-block,
.wp-block.text-cards-grid.columns-3 .header-intro-block {
	@media screen and (min-width: $med-width + 1px) {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

.text-cards-grid .section-header,
.text-cards-grid .header-intro-block {
	@media screen and (min-width: $med-width + 1px) {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	@media screen and (min-width: $small-width) {
		padding-bottom: 0;
	}
}


.wp-block.text-cards-grid > .block-wrapper > .block-content > .block-editor-inner-blocks > .block-editor-block-list__layout,
.text-cards-grid:not(.wp-block)  > .block-wrapper > .block-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	grid-template-columns: 1fr;
	grid-row-gap: 35px;
	grid-column-gap: 15px;
	@media screen and (min-width: $med-width + 1px) {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 60px;
		grid-column-gap: 60px;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 60px;
		grid-column-gap: 45px;
	}
}


.wp-block.text-cards-grid.columns-3 > .block-wrapper > .block-content > .block-editor-inner-blocks > .block-editor-block-list__layout,
.text-cards-grid:not(.wp-block).columns-3  > .block-wrapper > .block-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: 1fr;
	grid-row-gap: 35px;
	grid-column-gap: 15px;
	@media screen and (min-width: $med-width + 1px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 60px;
		grid-column-gap: 60px;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 60px;
		grid-column-gap: 45px;
	}
}

.text-cards-grid .cta .content p {
	color: $head-color;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	@media screen and (min-width: $small-width) {
		font-size: 26px;
		line-height: 32px;
	}
}

.text-cards-grid .cta .content-footer p:not(:empty) {
	border-top: 1px solid #ccc;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	margin-top: 1.25rem;
	@media screen and (min-width: $small-width) {
		margin-top: 2rem;
	}
}

.text-cards-grid .cta .content-footer p {
	color: $head-color;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	font-style: italic;
	@media screen and (min-width: $small-width) {
		font-size: 18px;
		line-height: 24px;
	}
}

.text-cards-grid .text-card + .header-intro-block {
	padding-top: 0;
	@media screen and (min-width: $small-width) {
		padding-top: 0;
	}
}